# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ZWEEP_LEFT
	def_bool $(shields_list_contains,zweep_left)

config SHIELD_ZWEEP_RIGHT
	def_bool $(shields_list_contains,zweep_right)